# System Files
.DS_Store
Thumbs.db

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Go Patch ###
/vendor/*
!/vendor/vendor.json
/Godeps/

.vscode
/bin/

/jmeter/logs/*
!/jmeter/logs/README.md
/jmeter/reports/*
!/jmeter/reports/README.md
/jmeter/scripts/*
!/jmeter/scripts/README.md
/jmeter/data/*
!/jmeter/data/README.md

/local
